<div class="row">
  <div class="col-sm-12">
    <h1>Bindings</h1>

    <h3> Property bindings[] </h3>

    <img [src]="imagenUrl"
         [alt]="'Imagen de un chico'"
         [width]="imagenWidth"
    >

    <p [style.color]="'red'"
       [style.background-color]="'black'"
       [innerText]="'Hola amigos'">

    </p>

    <div [innerHTML]="html"></div>


    <h3> Event bindings() </h3>

    <button
      class="btn btn-block btn-info"
      (click)="aumentarWidth($event)">
      Aumentar imagen
    </button>

    <h1
      (mouseenter)="restarWidth()"> Restar imagen
    </h1>


    <h3> NgModel (two way data bindings) [()] </h3>

    <label for="width">Width</label>

    <input id="width" type="text"
           [(ngModel)]="imagenWidth">


  </div>


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <br>
    <br>
    <h1 class="text-center">
      Hola

      <span *ngIf="mostrarTitulo">{{titulo}}</span>

    </h1>

    <p>Soy el usuario
      {{usuario.nombre + ' ' + usuario.apellido }}
      {{1 + 10}}
    </p>

    <ul>
      <li>{{arregloNumeros[0]}}</li>
      <li>{{arregloNumeros[1]}}</li>
      <li>{{arregloNumeros[2]}}</li>
      <li>{{arregloNumeros[3]}}</li>
      <li>{{arregloNumeros[4]}}</li>
    </ul>

    <ul>
      <li
        *ngFor="let numero of arregloNumeros;
        let i = index"
      >
        {{i + 1}} .- Valor del numero: {{numero}}

      </li>
    </ul>


  </div>
  <div class="col-sm-4"></div>
</div>
